version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: registry_postgres
    environment:
      POSTGRES_DB: registry
      POSTGRES_USER: registry
      POSTGRES_PASSWORD: registry123
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5544:5432"
    restart: unless-stopped
    networks:
      - registry_net

  registry:
    image: registry:2
    container_name: registry
    ports:
      - "5432:5000"
    volumes:
      - ./backend/certs:/auth
      - registry_data:/var/lib/registry
    environment:
      REGISTRY_AUTH: token
      REGISTRY_AUTH_TOKEN_REALM: http://34.202.165.71:6500/api/auth
      REGISTRY_AUTH_TOKEN_SERVICE: registry
      REGISTRY_AUTH_TOKEN_ISSUER: my-auth-server
      REGISTRY_AUTH_TOKEN_ROOTCERTBUNDLE: /auth/auth.cert
      REGISTRY_STORAGE_DELETE_ENABLED: "true"
    restart: unless-stopped
    networks:
      - registry_net

  backend:
    build: ./backend
    container_name: registry_backend
    ports:
      - "6500:6500"
    environment:
      PORT: 6500
      HOST: "0.0.0.0"
      REGISTRY_PUBLIC_URL: http://34.202.165.71:5432
      REGISTRY_CONTAINER_NAME: registry
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: registry
      DB_PASS: registry123
      DB_NAME: registry
      JWT_SECRET: 2168e78adafca76a0566f8abcd0ed1ab5534baf24311088ee0ecee437869474a
    depends_on:
      - postgres
      - registry
    networks:
      - registry_net

  frontend:
    build: ./frontend
    container_name: registry_frontend
    ports:
      - "5173:5173"
    environment:
      VITE_API_URL: http://34.202.165.71:6500
      PROXY_TARGET: http://backend:6500
    restart: unless-stopped
    networks:
      - registry_net

networks:
  registry_net:
    driver: bridge

volumes:
  postgres_data:
  registry_data:
